#container{
    box-sizing: border-box;
    border: black 2px solid;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#menu-superior{
    box-sizing: border-box;
    border: black 2px solid;
    height: 20vh;
    width: 100vw;
    max-width: 100%;
    background-color: green;
}

#menu-opcoes ul li{
    background-color: white;
    list-style-type: none;
    display: inline;
}
.cartao {
    background-color: #fff;
    width: 400px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
  }
  .cartao img {
    width: 400px;
    height: 230px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .container1{
    display:flex;
    justify-content:space-evenly;
  }

  .cartao div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
  }
  .cartao h1 {
    font-size: 25px;    
  }
  .cartao p {
    font-size: 20px;
    color: black;
    padding-left: 8px;
  }
  .cartao button {
    background-color: #2192FF;
    height: 40px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;


}
  .cartao button:hover {
    background-color: #137de8;
    cursor: pointer;
  }
h2{
  text-align: center;
  font-family: sans-serif;
}

table{
  box-shadow: 4px, 4px, 12px #aaaa;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}
table tr td{ 
  border: 1px solid black;
  padding: px;
}

table th{
  background-color:#2192FF;
  color: #fff;
  border: 1px solid black;
}

