#container{
    box-sizing: border-box;
    border: black 2px solid;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#menu-superior{
    box-sizing: border-box;
    border: black 2px solid;
    height: 20vh;
    width: 100vw;
    max-width: 100%;
    background-color: green;
}

#menu-opcoes ul li{
    background-color: black;
    list-style-type: none;
    display: inline;
}